<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet_Customer</servlet-name>
        <servlet-class>controller.LoginServlet_Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet_Customer</servlet-name>
        <servlet-class>controller.RegisterServlet_Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet_Staff</servlet-name>
        <servlet-class>controller.LoginServlet_Staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet_Customer</servlet-name>
        <servlet-class>controller.EditServlet_Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet_Staff</servlet-name>
        <servlet-class>controller.EditServlet_Staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet_Staff</servlet-name>
        <servlet-class>controller.RegisterServlet_Staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet_Customer</servlet-name>
        <servlet-class>controller.DeleteServlet_Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet_Staff</servlet-name>
        <servlet-class>controller.DeleteServlet_Staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTimeServlet_Customer</servlet-name>
        <servlet-class>controller.LoginTimeServlet_Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet_Customer</servlet-name>
        <servlet-class>controller.LogoutServlet_Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShipmentServlet</servlet-name>
        <servlet-class>controller.AddShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindShipmentServlet</servlet-name>
        <servlet-class>controller.FindShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyShipmentServlet</servlet-name>
        <servlet-class>controller.ModifyShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShipmentServlet</servlet-name>
        <servlet-class>controller.DeleteShipmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet_Customer</servlet-name>
        <url-pattern>/LoginServlet_Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet_Customer</servlet-name>
        <url-pattern>/RegisterServlet_Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet_Staff</servlet-name>
        <url-pattern>/LoginServlet_Staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet_Customer</servlet-name>
        <url-pattern>/EditServlet_Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet_Staff</servlet-name>
        <url-pattern>/EditServlet_Staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet_Staff</servlet-name>
        <url-pattern>/RegisterServlet_Staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet_Customer</servlet-name>
        <url-pattern>/DeleteServlet_Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet_Staff</servlet-name>
        <url-pattern>/DeleteServlet_Staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTimeServlet_Customer</servlet-name>
        <url-pattern>/LoginTimeServlet_Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet_Customer</servlet-name>
        <url-pattern>/LogoutServlet_Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShipmentServlet</servlet-name>
        <url-pattern>/AddShipmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindShipmentServlet</servlet-name>
        <url-pattern>/FindShipmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyShipmentServlet</servlet-name>
        <url-pattern>/ModifyShipmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShipmentServlet</servlet-name>
        <url-pattern>/DeleteShipmentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
